[submodule "libs/libdanrfid"]
	path = libs/libdanrfid
	url = https://github.com/scriptotek/libdanrfid.git
[submodule "app/src/main/assets/www/holo-web"]
	path = app/src/main/assets/www/holo-web
	url = https://github.com/zmyaro/holo-web.git
